version: 2
jobs:
  docs:
    docker:
      # see: https://circleci.com/docs/2.0/circleci-images/#python
      - image: circleci/python:3.7-stretch
    steps:
      # Get our data and merge with upstream
      - run: sudo apt-get update
      - checkout

      - restore_cache:
          keys:
            - cache-pip

      - run: |
          pip install --user .[docs]

      - save_cache:
          key: cache-pip
          paths:
            - ~/.cache/pip

      # Build the docs
      - run:
          name: Build docs to store
          # nit-picky mode, turn warnings into errors,
          # but do not stop the build on errors (so we can still inspect the doc artifacts)
          command: |
            cd docs
            make html-strict
      - store_artifacts:
          path: docs/_build/html/
          destination: html

workflows:
  version: 2
  default:
    jobs:
      - docs
